<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qq.product.server.mapper.SysAttributeValueMapper">

    <resultMap id="BaseResultMap" type="com.qq.common.system.pojo.SysAttributeValue">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="attributeId" column="attribute_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,attribute_id
    </sql>
    <select id="selectSkuAttribute" resultType="com.qq.common.system.vo.SkuAttributeVO">
        select t2.name, t1.name as value from sys_attribute_value t1
        join sys_attribute t2 on t1.attribute_id = t2.id
        <where>
            <if test="list != null and list.size > 0">
                <foreach collection="list" item="item" separator=" or ">
                    (t1.id = #{item.valId} and t1.attribute_id = #{item.keyId})
                </foreach>
            </if>
        </where>
    </select>


</mapper>
