<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qq.product.server.mapper.SysProductMapper">

    <resultMap id="BaseResultMap" type="com.qq.product.server.pojo.SysProduct">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <!--pageHelp 只有使用子查询才不会导致total错误-->
            <collection property="imageUrls" ofType="string" select="selectImagesById" column="id" />
    </resultMap>

    <sql id="Base_Column_List">
        sp.id,sp.code,sp.name,
        sp.unit,sp.price,sp.stock,sp.create_by,
        sp.create_time,sp.update_by,sp.update_time
    </sql>
    <select id="getProductById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>,sb.name brand_name from sys_product sp
        left join sys_product_brand spb on sp.id = spb.product_id
        left join sys_brand sb on spb.brand_id = sb.id
        where sp.id = #{id}
    </select>
    <select id="getProductList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>,sb.name brand_name from sys_product sp
        left join sys_product_brand spb on sp.id = spb.product_id
        left join sys_brand sb on spb.brand_id = sb.id
    </select>
    <select id="selectImagesById" resultType="string">
        select image_url from sys_product_images where product_id=#{id}
    </select>


</mapper>
