<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qq.product.server.mapper.SysSkuMapper">

    <resultMap id="BaseResultMap" type="com.qq.common.system.pojo.SysSku">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="spec" column="spec" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,spec,
        price,stock
    </sql>
</mapper>
